{% import 'macros/admin_nav_macros.html' as sidebar %}
{% import 'macros/header_macros.html' as header %}
{% import 'macros/footer_macros.html' as footer %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/_head.html' %} {# Any templates that extend this
    template can set custom_head_tags to add scripts to their page #}
    {% block custom_head_tags %}

    {% endblock %}
</head>
<body class="sidebar-dark">
<div class="main-wrapper">
    <!-- START NAV -->
    {% set dropdown = [
        ('All Users', [
            ('admin.registered_users', 'All Users', 'users'),
            ('admin.new_user', 'Add Users', 'user-plus'),
            ('admin.invite_user', 'Invite Users', 'user-plus'),
            ('admin.admin_settings', 'Settings', 'settings')
            ], '','users')
    ] %}
    {% block sidebar %}
        {{ sidebar.render_sidebar(current_user, dropdown) }}
    {% endblock %}

    <!-- END NAV -->
    <!-- START WRAPPER -->
    <div class="page-wrapper">
        {% block header %}
        {{ header.render_header(current_user) }}
        {% endblock %}
        <div class="page-content">

            {% include 'partials/_flashes.html' %}
            {# When extended, the content block contains all the html of the webpage #}

            {% block content %}
            {% endblock %}

        </div>
        {% block footer %}
        {{ footer.render_footer(current_user) }}
        {% endblock %}
    </div>
    <!-- END WRAPPER -->
</div>

{# Implement CSRF protection for site #} {% if csrf_token()|safe %}
<div style="visibility: hidden; display: none">
    <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token()|safe }}"
    />
</div>
{% endif %}
{% block dash_scripts %}
<!--
  ================================================
  Scripts
  ================================================
-->
<!-- core:js -->
<script src="{{ url_for('static', filename='vendors/core/core.js') }}"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="{{ url_for('static', filename='vendors/chartjs/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery.flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery.flot/jquery.flot.resize.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/progressbar.js/progressbar.min.js') }}"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="{{ url_for('static', filename='vendors/feather-icons/feather.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/template.js') }}"></script>
<!-- endinject -->

<script type="text/javascript"
        src="{{ url_for('static', filename='vendors/sweetalert/dist/sweetalert.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendors/dropify/js/dropify.min.js') }}"></script>
{{ moment.include_moment() }} {{ moment.lang(g.locale) }}
{% endblock %}
<!-- custom js for this page -->
{% block scripts %}

{% endblock %}
{{ moment.include_moment() }} {{ moment.lang(g.locale) }}
<script>

    $(document).ready(function () {
        $('#select-author').change(function(){
            var value = $(this).val();
            $("td.user.role:contains(" + value + ")")
              .closest("tr")
              .removeClass("hidden")
              .show();
            $("td.user.role")
              .not(":contains(" + value + ")")
              .closest("tr")
              .addClass("hidden")
              .hide();
        });
    });
</script>
</body>
</html>
