{% import 'macros/header_macros.html' as header with context %}
{% import 'macros/footer_macros.html' as footer %}
{% import 'macros/sidebar_macros.html' as sidebar %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/_head.html' %} {# Any templates that extend this
    template can set custom_head_tags to add scripts to their page #}
    {% block custom_head_tags %}

    {% endblock %}
</head>
<body class="sidebar-dark">
    <div class="main-wrapper">
        <!-- START NAV -->
        {% block sidebar %}
            {{ sidebar.render_sidebar(current_user, dropdown) }}
        {% endblock %}
        <!-- END NAV -->

        <!-- START WRAPPER -->
        <div class="page-wrapper">
            {% block header %}
                {{ header.render_header(current_user) }}
            {% endblock %}
            <div class="page-content">
            {% include 'partials/_flashes.html' %}
            <!-- START CONTENT -->
            {# When extended, the content block contains all the html of the webpage #}

            {% block content %}
            {% endblock %}
            <!-- END CONTENT -->
            <!--
              ////////////////////////////////////////////////////////////////////////////
            -->
            </div>
            {% block footer %}
                {{ footer.render_footer(current_user) }}
            {% endblock %}
        </div>
        <!-- END WRAPPER -->
    </div>


    {# Implement CSRF protection for site #}
    {% if csrf_token()|safe %}
    <div style="visibility: hidden; display: none">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}"/>
    </div>
    {% endif %}


{% block dash_scripts %}
    <!--
      ================================================
      Scripts
      ================================================
    -->
    <!-- core:js -->
    <script src="{{ url_for('static', filename='vendors/core/core.js') }}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{{ url_for('static', filename='vendors/chartjs/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery.flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery.flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/progressbar.js/progressbar.min.js') }}"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='vendors/feather-icons/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <!-- endinject -->

    <script type="text/javascript" src="{{ url_for('static', filename='vendors/sweetalert/dist/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendors/dropify/js/dropify.min.js') }}"></script>
    {{ moment.include_moment() }} {{ moment.lang(g.locale) }}
{% endblock %}
    <!-- custom js for this page -->
{% block scripts %}

{% endblock %}
    <!-- end custom js for this page -->
    {% if current_user.is_authenticated %}

    {% endif %}
    <script>
        function delete_memo(id) {
            swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function () {
                    $(id).submit();
                });
        }

        var csrftoken = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        function get_profile(id) {
            $.get().done(function (response) {
                $('#profile-placehold').html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                swal("Status: " + textStatus, "Error: " + errorThrown, "error");
            });
        }


        function set_memo_count(n) {
            $('#memo_count').text(n);
            $('#memo_count').css('visibility', n ? 'visible' : 'hidden');
        }
        function set_comment_count(n) {
            $('#comment_count').text(n);
            $('#comment_count').css('visibility', n ? 'visible' : 'hidden');
        }

        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('author.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_memo_count') {
                                set_memo_count(notifications[i].data);
                            } else if (notifications[i].name == 'unread_comment_count') {
                                set_comment_count(notifications[i].data);
                            }
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}
        function set_notification_count(n) {
        $('#notification_count').text(n);
        $('#notification_count').css('visibility', n ? 'visible' : 'hidden');
        if (n > 0){
            $.ajax('{{ url_for('author.notifications') }}').done(function(data) {
              $('#notificationDropdown').html(data)
            });
          }
        }

      function notification(id){
        $(id).dropdown();
      }

    </script>
</body>
</html>
