{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->

{% endblock %}

{% block content %}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Settings</a></li>
        <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Password reset settings</h4>
                <p class="card-description">
                    Your username still remains your email address but you can change your password.<br>
                    Make sure you use a strong password.
                </p>
                <form class="cmxform" method="post" action="{{url_for('author.settings')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-6">
                            <fieldset>
                                <div class="form-group">
                                    <label>Password</label>
                                    {{form.old_password(placeholder="Old Password", class="form-control")}}
                                    {%for error in form.old_password.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    {{form.new_password(placeholder="New Password", class="form-control")}}
                                    {%for error in form.new_password.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    {{form.new_password2(placeholder="Confirm New Password", class="form-control")}}
                                    {%for error in form.new_password2.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock%}
