<!DOCTYPE html>
<html lang="en">
    {% include 'account/header.html'%}
    <body class="cyan">
        <!-- Start Page Loading -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <!-- End Page Loading -->
        <div id="login-page" class="row">
            <div class="col s12 z-depth-4 card-panel">
                <form method="post" action="{{url_for('account.register')}}" class="login-form">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="input-field col s12 center">
                            <h4>Register</h4>
                            <p class="center">Join to our community now !</p>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-5">person_outline</i>
                            {{form.first_name(placeholder="first name")}}

                            {%for error in form.first_name.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-5">person_outline</i>
                            {{form.last_name(placeholder="last name")}}

                            {%for error in form.last_name.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-5">email</i>
                            {{form.email(placeholder="Email")}}
                            {%for error in form.email.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-5">lock_outline</i>
                            {{form.password(placeholder="Password")}}

                            {%for error in form.password.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix pt-5">lock_outline</i>
                            {{form.password2(placeholder="Password Again")}}

                            {%for error in form.password2.errors%}
                            <span>{{error}}</span>
                            {%endfor%}

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{form.submit(class="btn waves-effect waves-light col s12")}}
                        </div>
                        <div class="input-field col s12">
                            <p class="margin center medium-small sign-up">Already have an account? 
                                <a href="{{url_for('account.index')}}">Login</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>