<div class="dropdown-menu" aria-labelledby="messageDropdown">
    <div class="dropdown-header d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-medium">{{ new_memos }} New Message(s)</p>
    </div>
    <div class="dropdown-body">
        {% for item in notifications %}
        <a href="{{ url_for('author.view_memo', memo_id=item.public_id)}}" class="dropdown-item">
            <div class="figure">
                <img src="https://via.placeholder.com/30x30" alt="userr">
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <p>{{item.memo_title}}</p>
                    <p class="sub-text text-muted">{{item.createdAt.strftime('%d/%m/%Y')}}</p>
                </div>
                <p class="sub-text text-muted">{{item.reference_number}}</p>
            </div>
        </a>
        {%else%}
        <a href="javascript:;" class="dropdown-item">
            <div class="content">
                <p class="sub-text text-muted">No New Memos</p>
            </div>
        </a>
        {%endfor%}
    </div>
    <div class="dropdown-footer d-flex align-items-center justify-content-center">
        <a href="{{url_for('author.received_memos')}}">View all</a>
    </div>
</div>