<div class="dropdown-menu" aria-labelledby="notificationDropdown">
    <div class="dropdown-header d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-medium">New Notifications</p>
        <a href="javascript:;" class="text-muted">Clear all</a>
    </div>
    <div class="dropdown-body">
         {% for item in comments %}
        <a href="{{ url_for('author.view_memo', memo_id=item.memo.public_id)}}" class="dropdown-item">
            <div class="icon">
                <i data-feather="user-plus"></i>
            </div>
            <div class="content">
                <p>New comment from {{ item.user.full_name() }}</p>
                <p>{{item.comment_body}}</p>
                <p class="sub-text text-muted">{{item.createdAt.strftime('%d/%m/%Y')}}</p>
            </div>
        </a>
        {% else %}
        <a href="javascript:;" class="dropdown-item">
            <div class="icon">
                <i data-feather="user-plus"></i>
            </div>
            <div class="content">
                <p>No new comments</p>
                <p class="sub-text text-muted">2 sec ago</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>



