{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">ASSIGN</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recipient</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">

            <div class="card">
                <div class="card-body">
                    <form class="cmxform" method="post" action="{{url_for('author.new_memo_assign', memo_id=memo.public_id)}}">
                        {{form.hidden_tag()}}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Recipient *</label>
                                            {{form.recipient(placeholder="Recipient", class="form-control")}}
                                            {%for error in form.recipient.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                                    </div>
                                </div>
                    </form>
                </div>
            </div>
    </div>
</div>


{% endblock %}
{% block scripts%}
    <script>
            $(function() {
      'use strict';

      if($('#datePicker').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });

        $('#datePicker').datepicker('setDate', {%if m_date%}'{{m_date}}'{%else%} today {%endif%});
      }
    });
    </script>
{%  endblock %}