{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">CREATE</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Comment</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-lg-4">
                  <h6 class="card-title mb-0">Forwaded Memos</h6>
                </div>
                <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Memo Ref. No.</th>
                                <th class="pt-0">Forwaded From</th>
                                <th class="pt-0">Forwaded To</th>
                                <th class="pt-0">Memo Title</th>
                                <th class="pt-0">Status</th>
                                <th class="pt-0">Comment</th>
                                <th class="pt-0">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for memo in fmemos %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><a href="{{ url_for('author.view_memo', memo_id=memo.id) }}">{{memo.reference_number}}</a>
                                </td>
                                <td><a href="#">{{fnames[0].first_name if fnames}}</a></td>
                                <td><a href="#">{{ ftnames[0].first_name if ftnames }}</a></td>
                                <td>{{memo.title}}</td>
                                <td>
                                    {% if memo.status == 'Open' %}
                                    <span class="badge badge-info-muted">Open</span>
                                    {%else%}
                                    <span class="badge badge-success">Closed</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('author.add_comment', memo_id=memo.id) }}"
                                       class="btn btn-primary">Comment</a>
                                </td>
                                <td>{% if memo.status == 'Open' %}
                                    <a href="{{ url_for('author.close_memo_cycle', memo_id=memo.id) }}"
                                       class="btn btn-danger">Close</a>
                                    {% else %}
                                    <a href="{{ url_for('author.close_memo_cycle', memo_id=memo.id) }}"
                                       class="btn btn-success">Open</a>
                                    {%endif%}
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}