{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<!-- end plugin css for this page -->
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">VIEW</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Memos</li>
        </ol>
    </nav>
     <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a href="{{ url_for('author.new_memo')}}" type="button" class="btn btn-primary">ADD MEMO</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-lg-4">
                  <h6 class="card-title mb-0">Sent Memos</h6>
                </div>

                <div class="table-responsive">
                        <table id="dataTable" class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Memo Ref. No.</th>
                                <th class="pt-0">Memo Title</th>
                                <th class="pt-0">File</th>
                                <th class="pt-0">Status</th>
                                <th class="pt-0">Comment</th>
                                <th class="pt-0">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for memo in sen_memos %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><a href="{{ url_for('author.view_memo', memo_id=memo.public_id) }}">{{memo.reference_number}}</a>
                                </td>
                                </td>
                                <td>{{memo.memo_title}}</td>
                                <td>{{memo.file.subject}}</td>
                                <td>
                                    {% if memo.status == 'Open' %}
                                    <span class="badge badge-info-muted">Open</span>
                                    {%else%}
                                    <span class="badge badge-success">Closed</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('author.add_comment', memo_id=memo.public_id) }}"
                                       class="btn btn-primary">Comment</a>
                                </td>
                                <td>{% if memo.status == 'Open' %}
                                    <a href="{{ url_for('author.close_memo_cycle', memo_id=memo.public_id) }}"
                                       class="btn btn-danger {% if memo.author.email == current_user.email %} disabled {% endif %}">Close</a>
                                    {% else %}
                                    <a href="{{ url_for('author.close_memo_cycle', memo_id=memo.public_id) }}"
                                       class="btn btn-success">Open</a>
                                    {%endif%}
                                </td>

                            </tr>
                            {% else %}
                            <tr>
                                <td><span style="color: #007bff;">No memos sent</span></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<!-- plugin js for this page -->
<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<!-- end plugin js for this page -->
<script>
    $(function () {
        'use strict';

        $(function () {
            $('#dataTable').DataTable({
                "aLengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: ""
                }
            });
            $('#dataTable').each(function () {
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Search');
                search_input.removeClass('form-control-sm');
                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.removeClass('form-control-sm');
            });
        });

    });
</script>
{% endblock %}