<p>Dear {{ user.full_name() }},</p>

<p>You have a new<strong> interaction</strong> on the KUTRRH File Tracking Portal.</p>

<p>Sincerely,</p>

<p>The KUTRRH Web & Development Team</p>

<p><small>Note: replies to this email address are not monitored. Do not reply</small></p>
