{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- CORE CSS-->

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">All Applications</h6>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">View</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">Edit</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">Delete</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">Print</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">Download</span></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                          <tr>
                              <th class="pt-0">#</th>
                              <th class="pt-0">Applicant Name</th>
                              <th class="pt-0">Job Ref. No.</th>
                              <th class="pt-0">Job Title</th>
                              <th class="pt-0">Application Date</th>
                              <th class="pt-0">Status</th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for application in applications %}
                          <tr>
                              <td>{{loop.index}}</td>
                              <td>{{application.user.full_name()}}</td>
                              <td><a href="{{url_for('admin.job_listing_id',id=application.job_listings.id)}}">{{application.job_listing.job_reference_number}}</a>
                              </td>
                              <td><a href="{{url_for('admin.job_listing_id',id=application.job_listings.id)}}">{{application.job_listing.job_title}}</a>
                              </td>
                              <td>{{application.get_time()}}</td>
                              <td>
                                  {% if application.status == 'pending' %}
                                  <span class="badge badge-info-muted">Pending</span>
                                  {% elif application.state == 'accepted' %}
                                  <span class="badge badge-success">Accepted</span>
                                  {% elif application.state == 'cancelled' %}
                                  <span class="badge badge-danger">Cancelled</span>
                                  {% endif %}
                              </td><!-- Dropdown Trigger -->
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
