{% extends 'layouts/admin_base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block custom_head_tags %}
{{ super() }}

{% endblock %}

{% block content %}


<!-- START CONTENT -->
<section id="content">
    <!--start container-->
    <div class="container">

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <h4 class="header2">Change Email</h4>
                    <div class="row">
                        <form class="col s12" action="{{url_for('admin.change_email_request')}}" method="post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">email</i>
                                    {{ form.email() }}
                                    <label>Email</label>

                                    {%for error in form.email.errors%}
                                    <div class="error">{{ error }}</div>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="row">
                                {% if form.password %}
                                <div class="input-field col s6">

                                    <i class="material-icons prefix">lock</i>
                                    {{ form.password() }}
                                    <label>Password</label>

                                    {%for error in form.password.errors%}
                                    <div class="error">{{ error }}</div>
                                    {%endfor%}
                                </div>
                                {% endif %}

                            </div>

                            <div class="row">
                                <div class="center-align">
                                    <button id="submit" class="btn cyan waves-effect waves-light" type="submit">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                            {% if form.password %}
                                {{ check.password_check('password', 1) }}
                            {% endif %}
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
{% endblock %}

{% block scripts %}
    <script>
  $('#submit').attr('disabled', true);
  $('#password2').keyup(function() {
    var result = $(this).val();
    var result2 = $('#password2').val()
    if(result == result2) {
      $('#submit').attr('disabled', false);
    } else {
      $('#submit').attr('disabled', true);
    }
  });
    </script>
{% endblock %}