{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}

{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('admin.dashboard')}}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">ALL USERS</li>
        </ol>
    </nav>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a href="{{ url_for('admin.new_user')}}" type="button" class="btn btn-primary">ADD USER</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-4">All Users</h6>
                </div>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover mb-0">
                      <thead>
                        <tr>
                          <th class="pt-0">#</th>
                          <th class="pt-0">First Name</th>
                          <th class="pt-0">Last Name</th>
                          <th class="pt-0">Email</th>
                          <th class="pt-0">Role</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for user in users %}
                        <tr onclick="window.location.href = '{{ url_for('admin.user_info', user_id=user.id) }}';" style="cursor: pointer">
                          <td>{{ loop.index }}</td>
                          <td>{{user.first_name}}</td>
                          <td>{{user.second_name}}</td>
                          <td>{{user.email}}</td>
                          <td class="user role">{{user.role.name}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}