{% extends 'layouts/admin_base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('admin.dashboard')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">SEND OUT NEW MESSAGE</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform" method="post" action="{{url_for('admin.send_messages')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>SMS Message *</label>
                                {{form.sms_message(placeholder="SMS Messages", class="form-control")}}
                                {%for error in form.sms_message.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number(s) *</label>
                                {{form.phone_number(placeholder="Phone Number(s)", class="form-control")}}
                                {%for error in form.phone_number.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts%}
    <script>
            $(function() {
      'use strict';

      if($('#datePicker').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });


        $('#datePicker').datepicker('setDate', today);
      }
      if($('#datePicker2').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker2').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });

        $('#datePicker2').datepicker('setDate', today);
      }
    });
    </script>
{%  endblock %}