{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<!-- end plugin css for this page -->
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('admin.job_listings')}}">Jobs</a></li>
            <li class="breadcrumb-item active" aria-current="page">VIEW JOB</li>
        </ol>
    </nav>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a href="{{ url_for('admin.edit_listing', id=listing.id)}}" type="button" class="btn btn-primary">EDIT JOB</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-10 main-content pl-xl-4 pr-xl-5">
        <h1 class="page-title">{{listing.job_title}}</h1>
        <p class="lead">{{listing.long_description}}</p>
        <hr>
        <h4 id="default">REF. NO: <span style="color: #007bff;">{{listing.job_reference_number}}</span></h4>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0 pt-1 pb-1">Complete Details</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Available From: <span style="color: #007bff;">{{ "{:%d/%m/%Y}".format(listing.availability_from) }}</span></li>
                    <li class="list-group-item">Available To: <span style="color: #007bff;">{{ "{:%d/%m/%Y}".format(listing.availability_to) }}</span></li>
                    <li class="list-group-item">Positions: <span style="color: #007bff;">{{ listing.positions }}</span></li>
                    <li class="list-group-item">Additional Info: <span style="color: #007bff;">{%if listing.additional_info%}{{ listing.additional_info }}
                        {%else%} None {%endif%}
                    </span></li>
                    <li class="list-group-item">Policy: <span style="color: #007bff;">{%if listing.policy%}{{ listing.policy }}
                        {%else%} None {%endif%}</span></li>
                    <li class="list-group-item">Published: <span style="color: #007bff;">{%if listing.published%} Yes
                        {%else%} No {%endif%}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{%endblock%}