{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">CREATE</a></li>
        <li class="breadcrumb-item active" aria-current="page">New File</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform" method="post" action="{{url_for('qam.new_file')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Subject *</label>
                                {{form.subject(placeholder="Subject", class="form-control")}}
                                {%for error in form.subject.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Reference Number *</label>
                                {{form.reference_number(placeholder="Reference Number", class="form-control")}}
                                {%for error in form.reference_number.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Date </label>
                                <div class="input-group date datepicker" id="datePicker"
                                style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                    {{form.date_modified(class="form-control")}}
                                    <span class="input-group-addon"><i
                                            data-feather="calendar"></i></span>
                                    {%for error in form.date_modified.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts%}
    <script>
            $(function() {
      'use strict';

      if($('#datePicker').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });

        $('#datePicker').datepicker('setDate', {%if m_date%}'{{m_date}}'{%else%} today {%endif%});
      }
    });
    </script>
{%  endblock %}