{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
   <!-- jQuery Library -->
<script type="text/javascript" src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<!-- end plugin css for this page -->
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">VIEW</a></li>
            <li class="breadcrumb-item active" aria-current="page">All Memos</li>
        </ol>
    </nav>
     <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a href="{{ url_for('author.new_memo')}}" type="button" class="btn btn-primary">ADD MEMO</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-lg-4">
                  <h6 class="card-title mb-0">All Memos</h6>

                    <div>
                      <select id="select-author" style="color: #082461;border: 1px solid #0266b4;">
                          <option value="">Select Recipient</option>
                          {% for user in all_users %}
                          <option value="{{user.first_name}}">{{user.first_name}}</option>
                          {% endfor %}
                      </select>
                    </div>
                </div>
                <p class="card-description">Open Memos are shown in red.</p>

                <div class="table-responsive">
                        <table id="dataTable" class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Memo Ref. No.</th>
                                <th class="pt-0">Memo Title</th>
                                <th class="pt-0">Author</th>
                                <th class="pt-0">Sent To</th>
                                <th class="pt-0">Status</th>
                                <th class="pt-0">Comment</th>
                                <th class="pt-0">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for memo in all_memos %}
                            <tr  class="{% if memo.status == 'Open' %}table-danger{%endif%}">
                                <td>{{loop.index}}</td>
                                <td><a href="{{ url_for('admin.view_memo', memo_id=memo.public_id) }}">{{memo.reference_number}}</a>
                                </td>
                                </td>
                                <td>{{memo.memo_title}}</td>
                                <td>{{memo.author.first_name}}</td>
                                {% set recc = cb.query.filter_by(memo_id=memo.id).order_by(cb.createdAt.asc()).first() %}
                                <td class="user role">{{recc.recipient_name}}</td>
                                <td>
                                    {% if memo.status == 'Open' %}
                                    <span class="badge badge-info-muted">Open</span>
                                    {%else%}
                                    <span class="badge badge-success">Closed</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.add_comment', memo_id=memo.public_id) }}"
                                       class="btn btn-primary">Comment</a>
                                </td>
                                <td>{% if memo.status == 'Open' %}
                                    <a href="{{ url_for('author.close_memo_cycle', memo_id=memo.public_id) }}"
                                       class="btn btn-danger">Close</a>
                                    {% else %}
                                    <a href="{{ url_for('author.close_memo_cycle', memo_id=memo.public_id) }}"
                                       class="btn btn-success">Open</a>
                                    {%endif%}
                                </td>

                            </tr>
                            {% else %}
                            <tr>
                                <td><span style="color: #007bff;">No memos available</span></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<!-- plugin js for this page -->

<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<!-- end plugin js for this page -->
<script>
    $(function () {
        'use strict';

        $(function () {
            $('#dataTable').DataTable({
                "aLengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: ""
                }
            });
            $('#dataTable').each(function () {
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Search');
                search_input.removeClass('form-control-sm');
                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.removeClass('form-control-sm');
            });
        });

    });
</script>
<script>

    $(document).ready(function () {
        $('#select-author').change(function(){
            var value = $(this).val();
            $("td.user.role:contains(" + value + ")")
              .closest("tr")
              .removeClass("hidden")
              .show();
            $("td.user.role")
              .not(":contains(" + value + ")")
              .closest("tr")
              .addClass("hidden")
              .hide();
        });
    });
</script>
{% endblock %}