{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('author.received_memos')}}">ALL MEMOS</a></li>
        <li class="breadcrumb-item active" aria-current="page">Memo</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="email-content">
                    <div class="email-head">
                        <div class="email-head-subject">
                            <div class="title d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a class="active" href="#"><span class="icon"><i data-feather="star"
                                                                                     class="text-primary-muted"></i></span></a>
                                    <span style="text-decoration: underline;"><b>RE: </b>{{memo.memo_title}}</span>
                                </div>
                                <div class="d-flex align-items-center flex-wrap text-nowrap">
                                    <a href="{{ url_for('qam.new_file_assign', memo_id=memo.public_id)}}" type="button" class="btn btn-primary">ASSIGN FILE & FOLIO</a>
                                </div>
                                <div class="d-flex align-items-center flex-wrap text-nowrap">
                                    <a href="{{ url_for('qam.add_comment', memo_id=memo.public_id)}}" type="button" class="btn btn-primary">ADD COMMENT</a>
                                </div>
                            </div>
                        </div>
                        <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap" style="padding: 4px 25px;">
                            <div class="align-items-center" style="width: 50%">
                                <div class="sender d-flex align-items-center">
                                    <b>FILE: </b><a href="#" style="font-size: 16px; margin-left: 2%;"> {{memo.file.subject}}</a>
                                </div>
                            </div>
                            <div class="date"><b>REF.: </b>{{memo.file.reference_number}}</div>
                        </div>
                        <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap" style="padding: 4px 25px;border-top: 1px solid #e8ebf1;">
                            <div class="d-flex align-items-center">
                                <div class="sender d-flex align-items-center">
                                    <b>TO: </b> <a href="#" style="font-size: 16px; margin-left: 4%;"> {{first_recipient.recipient_name}}</a>
                                </div>
                            </div>
                            <div class="date"><b>REF.: </b>{{memo.reference_number}}</div>
                        </div>
                        <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap" style="padding: 4px 25px;border-top: 1px solid #e8ebf1;">
                            <div class="d-flex align-items-center">
                                <div class="sender d-flex align-items-center">
                                    <b>FROM: </b> <a href="#" style="font-size: 16px; margin-left: 4%;">{{memo.author.first_name}} </a>
                                </div>
                            </div>
                            <div class="date"><b>DATE: </b> {{da}}</div>
                        </div>
                    </div>

                    <div class="" style="border-top: 1px solid #e8ebf1;">
                        <div class="email-head-subject" style="border-bottom: none;">
                            <div class="title d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a class="active" href="#"><span class="icon"><i data-feather="edit-3"
                                                                                     class="text-primary-muted"></i></span></a>
                                    <span style="text-decoration: underline;">COMMENTS</span>
                                </div>
                            </div>
                        </div>
                        <div id="content">
                            <ul class="timeline">
                                {% for comment in memo_comments %}
                                <li class="event" data-date="{{dm}}">
                                    <span style="font-weight: 600;font-size: 1rem;margin-bottom: 10px;">
                                        {{comment.user.first_name}}</span><i class="mdi mdi-arrow-right" style="position: relative;right: -1%;color: #288cfa;"></i>
                                    <span style="font-weight: 200;font-size: 1rem;margin-bottom: 10px;">
                                        {{comment.sent_to}}</span>
                                    <p style="{% if comment.user.role.index == 'qam'%}display: none{%endif%}">{{comment.comment_body}}</p>

                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}