{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
<style>
    .izi{
        padding-top: 0 !important;
    padding-bottom: 0 !important;
    }
</style>
{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('qam.view_all_files')}}">ALL FILES</a></li>
        <li class="breadcrumb-item active" aria-current="page">Files</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="email-content">
                    <div class="email-head">
                        <div class="email-head-subject">
                            <div class="title d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a class="active" href="#"><span class="icon"><i data-feather="star"
                                                                                     class="text-primary-muted"></i></span></a>
                                    <span style="text-decoration: underline;"><b>RE: </b>{{file.subject}}</span>
                                </div>
                                <div class="d-flex align-items-center flex-wrap text-nowrap">
                                    {% if file.status == 'Open' %}
                                    <a href="{{ url_for('qam.close_file_cycle', file_id=file.public_id) }}"
                                       class="btn btn-danger">Close</a>
                                    {% else %}
                                    <a href="{{ url_for('qam.close_file_cycle', file_id=file.public_id) }}"
                                       class="btn btn-success">Open</a>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                        <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap" style="padding: 4px 25px;">
                            <div class="align-items-center" style="width: 50%">
                                <div class="sender d-flex align-items-center">
                                    <b>CREATED ON: </b> <a href="#" style="font-size: 16px; margin-left: 4%;">
                                    {{ moment(file.date_modified).format('Do MMMM YYYY') }}</a>
                                </div>
                            </div>
                            <div class="date"><b>REF.: </b>{{file.reference_number}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-lg-4">
                  <h6 class="card-title mb-0"></h6>
                </div>
                <p class="card-description"></p>

                <div class="table-responsive">
                        <table id="dataTable" class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="pt-0">Folio</th>
                                <th class="pt-0">Memo Title</th>
                                <th class="pt-0">Officer To See</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for this_memo in file_memos %}
        {% set memo_comments = comment.query.join(user, (user.id == comment.user_id)).filter(comment.memo_id == this_memo.id).all()%}
        {% set first_recipient = recipient.query.join(memo, (this_memo.id == recipient.memo_id)).first() %}
        {% set all_recipients = recipient.query.join(memo, (this_memo.id == recipient.memo_id)).all() %}
                              <tr>
                                    <td class="izi">
                                        {{this_memo.folio}}
                                    </td>
                                    <td class="izi" style="width: 52%;">
                                        {{this_memo.memo_title}}
                                    </td>
                                    <td class="izi">
                                        <table class="table table-hover mb-0">
                                            <tbody>
                                            {% set recc = recipient.query.filter_by(memo_id=memo.id).order_by(recipient.createdAt.asc()).first() %}
                                            {% set reccs = recipient.query.filter_by(memo_id=memo.id).order_by(recipient.createdAt.desc()).all() %}


                                            {% for comment in memo_comments %}
                                                <tr>

                                                    <td>{{comment.user.first_name}}
                                                    <i class="mdi mdi-arrow-right" style="position: relative;right: -1%;color: #288cfa;"></i>
                                                    {{comment.sent_to}}
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                              </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}