{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
      {% for category, msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <i data-feather="alert-circle"></i> {{ msg }}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}
  {% endif %}
{% endwith %}
